<!-- <div class="studentlist">
    <table>
        @if (studentList?.length > 0) {<thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Age</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>}
        <tbody>
            @for (item of studentList; track $index) {
            <tr class="student">
                <td>{{item.firstName}}</td>
                <td>{{item.lastName}}</td>
                <td>{{item.age}}</td>
                <td>{{item.phone}}</td>
                <td>{{item.email}}</td>
                <td class="actions">
                    <button class="edit" (click)="editProfile(item)" [disabled]="item.id !== studentId"
                        [class.greyButton]="item.id !== studentId">Edit</button>
                    <button class="delete" (click)="deleteStudent(item.id)" [disabled]="item.id !== studentId"
                        [class.greyButton]="item.id !== studentId">Delete</button>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div> -->

@if (studentList?.length > 0) {<table mat-table [dataSource]="studentList" class="mat-elevation-z8">
    <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef> First Name </th>
        <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
    </ng-container>

    <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef> Last Name </th>
        <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
    </ng-container>

    <ng-container matColumnDef="age">
        <th mat-header-cell *matHeaderCellDef> Age </th>
        <td mat-cell *matCellDef="let element"> {{element.age}} </td>
    </ng-container>

    <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef> Phone </th>
        <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let item" class="actions">
            <button mat-button color="primary" (click)="editProfile(item)" [disabled]="item.id !== studentId">
                Edit
            </button>
            <button mat-button color="warn" (click)="deleteStudent(item.id)" [disabled]="item.id !== studentId">
                Delete
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>}